@page "/Index"
@model Avengers.Pages.IndexModel
@using Avengers.Models
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    @if (Model.UserEmail != null)
    {
        <h2>Welcome, @Model.UserEmail!</h2>
        <a href="/Profile/@Model.UserId" class="btn btn-primary">View Profile</a>
    }
    else
    {
        <h2>Welcome to the Dashboard!</h2>
    }

    <!-- Content body start -->
    <div class="content-body">
        <div class="container-fluid mt-3">
            <!-- Homework Creation Table -->
            <h3>Homework Creations</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Created</th>
                        <th>Last Modified</th>
                        <th>Text</th>
                        <th>File Path</th>
                        <th>Student</th>
                        <th>Grade</th>
                        <th>Homework Assignment</th>
                        <th>Graded</th>
                        <th>Submitted</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var homework in Model.HomeworkCreations)
                    {
                        @if (Model.UserRole == Role.Students)
                        {
                            if (homework.Graded)
                            {
                                <tr>
                                    <td>@homework.Id</td>
                                    <td>@homework.Created</td>
                                    <td>@homework.LastModified</td>
                                    <td>@homework.Text</td>
                                    <td>@homework.FilePath</td>
                                    <td>@homework.Student?.Name</td>
                                    <td>@homework.Grade</td>
                                    <td>@homework.HomeworkAssignment?.Title</td>
                                    <td>@homework.Graded</td>
                                    <td>@homework.Submitted</td>
                                    <td>
                                        <a asp-page="/HomeworkGrading" asp-route-id="@homework.Id">View/Edit</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>@homework.Id</td>
                                <td>@homework.Created</td>
                                <td>@homework.LastModified</td>
                                <td>@homework.Text</td>
                                <td>@homework.FilePath</td>
                                <td>@homework.Student?.Name</td>
                                <td>@homework.Grade</td>
                                <td>@homework.HomeworkAssignment?.Title</td>
                                <td>@homework.Graded</td>
                                <td>@homework.Submitted</td>
                                <td>
                                    <a asp-page="/HomeworkGrading" asp-route-id="@homework.Id">Grade</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <!-- Homework Assignment Table -->
            <h3>Homework Assignments</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Due Date</th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assignment in Model.HomeworkAssignments)
                    {
                        <tr>
                            <td>@assignment.Id</td>
                            <td>@assignment.Subject?.Name</td>
                            <td>@assignment.Teacher?.Name</td>
                            <td>@assignment.DueDate</td>
                            <td>@assignment.Title</td>
                            <td>
                                <a asp-page="/HomeworkCreation" asp-route-id="@assignment.Id">View/Create</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- Content body end -->
    <!-- Scripts -->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>
    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    <script src="./js/dashboard/dashboard-1.js"></script>
</body>
